<li id="post-<%= post._id%>">
    <div class="post">
        <span>
            <%= post.user.name %>
        </span>
        <% if(locals.user && locals.user.id==post.user.id) { %>
            <a class="delete-post-button" href="/post/destroy/<%= post.id %>">X</a>
            <% } %>
                <div>
                    <%= post.content %>
                </div>
    </div>
    <div class="post-comments">
        <% if(locals.user) { %>
            <form action="/comment/create" class="new-comment-form" method="POST">
                <input name="comment" type="text" placeholder="comment here..." required>

                <input type="hidden" name="postID" value="<%=post._id%>">

                <button type="submit">Comment</button>
            </form>
            <% } %>
    </div>
    <div class="post-comments-list">
        <ul id='post-comments-<%= post._id %>'>
            <% post.comments.forEach((comment)=>{ %>
                <%- include('_comment',{'comment': comment,'post': post}) -%>
                    <% }) %>
        </ul>
    </div>
    <br>
</li>